@import 'tailwindcss';

/* Custom Base Styles */
@layer base {
    * {
        box-sizing: border-box;
    }

    html {
        font-family: 'Source Sans Pro', sans-serif;
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }
}

/* Custom Components */
@layer components {
    .gradient {
        background: linear-gradient(270deg, #43ea7a 0%, #1fa463 50%, #2a905e 100%) !important;
        /* background-color: #ff6901 !important; */
    }
}

/* Custom Utilities */
@layer utilities {
    .fill-current {
        fill: #ff6901;
    }

    .text-brand-primary {
        color: #1b375c !important;
    }
}
