---
// Blog Page Header component
---

<div
    updatable-section-uuid="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
    updatable-section-title=""
    updatable-section-filepath="multi-sites/sites/[siteid]/components/BlogPageHeader.astro"
    updatable-section-siteid="[siteid]"
    updatable-section-businessid="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
>
    <header class="bg-white py-12 px-4 shadow-sm lg:px-8">
        <div class="mx-auto" style="max-width: 1280px;">
            <div class="flex flex-col md:flex-row justify-between items-start md:items-center">
                <div class="flex items-center mb-3 md:mb-0">
                    <a href="https://fastvistos.com.br">
                        <img
                            src="/assets/images/logo/logo-fast-orange.png"
                            alt="Logo Fast Vistos"
                            class="h-4 sm:h-8 w-auto"
                            loading="lazy"
                        />
                    </a>
                </div>

                <nav>
                    <ul
                        class="flex flex-col md:flex-row gap-y-4 md:gap-x-10 list-disc list-inside text-orange-500"
                    >
                        <li>
                            <a
                                href="https://fastvistos.com.br"
                                class="text-[15px] font-medium text-gray-700 hover:text-orange-600"
                            >
                                Home
                            </a>
                        </li>
                        <li>
                            <a
                                onclick="window.open('https://api.whatsapp.com/send?phone=551920422785&text=Ol%C3%A1!%20Gostaria%20de%20saber%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20servi%C3%A7os%20de%20vistos.%231', '_blank')"
                                class="text-[15px] font-medium text-gray-700 hover:text-orange-600"
                                style="cursor: pointer;"
                            >
                                Contato
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                onclick="window.open('https://fastvistos.com.br/assessment/index.html', 'popupWindow', 'width=900,height=900,top=100,left=100,scrollbars=yes,resizable=yes');"
                                class="text-[15px] font-medium text-gray-700 hover:text-orange-600"
                            >
                                Teste Grátis
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>
