---
export async function getStaticPaths() {
  const allPosts = import.meta.glob('../../content/blog/*.md', { eager: true });
  return Object.entries(allPosts).map(([path, post]) => ({
    params: { slug: path.split('/').pop().replace('.md', '') },
    props: { post }
  }));
}

const { post } = Astro.props;
const { frontmatter, Content } = post;
---
<html>
  <head>
    <title>{frontmatter.title} - fastvistos</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a> | <a href="/blog">Blog</a>
    </nav>
    <article>
      <h1>{frontmatter.title}</h1>
      <p><em>{frontmatter.date}</em></p>
      <Content />
    </article>
  </body>
</html>
