---
---

<html>
  <head>
    <title>First Post - fastvistos</title>
  </head>
  <body>
    <h1>First Post</h1>
    <nav>
      <a href="/">Home</a> | <a href="/blog">Blog</a>
    </nav>
    <article>
      <p>This is your first blog post in Astro!</p>
    </article>
  </body>
</html>
