---
const allPosts = import.meta.glob('../../content/blog/*.md', { eager: true });
const posts = Object.entries(allPosts).map(([path, post]) => ({
  ...post,
  slug: path.split('/').pop().replace('.md', '')
}));
---

<html>
  <head>
    <title>Blog - fastvistos</title>
  </head>
  <body>
    <h1>Blog</h1>
    <nav>
      <a href="/">Home</a>
    </nav>
    <ul>
      {posts.map(post => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.frontmatter.title}</a> - {post.frontmatter.description}
        </li>
      ))}
    </ul>
  </body>
</html>
