---
import BlogLayout from '../../layouts/BlogLayout.astro';

const allPosts = import.meta.glob('../../content/blog/*.md', { eager: true });
const posts = Object.entries(allPosts).map(([path, post]) => ({
  ...(post as any),
  slug: path.split('/').pop()?.replace('.md', '') || ''
}));
---

<BlogLayout 
    title="Blog - FastVistos | Dicas sobre Vistos Americanos" 
    description="Artigos e dicas sobre como obter vistos americanos, eTA canadense e vistos mexicanos. Guias completos e atualizados."
>

<p>Test</p>
<p>Edgar Rezende</p>
<p>Blog sobre vistos americanos, eTA canadense e vistos mexicanos.</p>

</BlogLayout>
