---
// Blog Page Header component
---

<div
    updatable-section-uuid="175c6e46-1622-4d0b-8f9d-87aeaa2f2135"
    updatable-section-title="Blog Page Header"
    updatable-section-filepath="multi-sites/sites/revistadoturismo/components/BlogPageHeader.astro"
    updatable-section-siteid="revistadoturismo"
    updatable-section-businessid="41a5c7f95e924d54b120ab9a0e1843c8"
>
    <header class="bg-transparent py-4 px-4 lg:px-8 fixed top-0 left-0 w-full z-50">
        <div class="flex flex-col md:flex-row justify-between items-start md:items-center">
            <div class="flex items-center mb-3 md:mb-0">
                <!-- Logo Area -->
                <a href="/" class="flex items-center mr-8 min-w-[180px]">
                    <div class="logo-revista">
                        <div class="logo-small">Revista <span class="preposition">do</span></div>
                        <div class="logo-large">Turismo</div>
                    </div>
                </a>
            </div>

            <nav>
                <ul
                    class="flex flex-col md:flex-row gap-y-4 md:gap-x-10 list-disc list-inside text-orange-500"
                >
                    <li>
                        <a
                            href="https://revistadoturismo.com.br"
                            class="text-[15px] font-medium text-gray-700 hover:text-orange-600"
                        >
                            Home
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://fastvistos.com.br/blog/"
                            class="text-[15px] font-medium text-gray-700 hover:text-orange-600"
                        >
                            Blog
                        </a>
                    </li>
                    <li>
                        <a
                            onclick="window.open('https://api.whatsapp.com/send?phone=551920422785&text=Ol%C3%A1!%20Gostaria%20de%20saber%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20servi%C3%A7os%20de%20vistos.%231', '_blank')"
                            class="text-[15px] font-medium text-gray-700 hover:text-orange-600"
                            style="cursor: pointer;"
                        >
                            Contato
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>
