---
// Affiliate ad for travel insurance
---

<div class="flex justify-center items-center w-full my-8">
    <div class="relative w-full max-w-[420px] rounded-2xl overflow-hidden shadow-lg bg-white">
        <img
            src="/assets/images/blog/garanta-melhor-seguro-viagem-comparar.webp"
            alt="Garanta o melhor seguro viagem - Comparar"
            class="w-full block rounded-2xl"
            loading="lazy"
        />
        <div
            class="absolute left-1/2 bottom-8 transform -translate-x-1/2 w-4/5 flex justify-center"
        >
            <a
                href="https://www.compararsegurodeviagem.com.br/?afl=fastvistos&utm_source=afl&utm_medium=afl&utm_campaign=afl&utm_content=fastvistos"
                target="_blank"
                rel="noopener noreferrer"
                class="bg-gradient-to-r from-blue-900 to-blue-500 text-white font-bold text-lg py-3 px-3 rounded-full shadow transition hover:from-blue-700 hover:to-blue-900 hover:scale-105 outline-none border-none tracking-wide"
            >
                Comparar Seguro Viagem
            </a>
        </div>
    </div>
</div>

<!-- <div class="flex justify-center items-center w-full my-8">
	<div class="relative w-full max-w-[420px] rounded-2xl overflow-hidden shadow-lg bg-white">
		<img
			src="/assets/images/blog/fastvistos-facilitando-vistos-conectando-destinos-side-ad.webp"
			alt="Fast Vistos - Facilitando vistos, conectando destinos"
			class="w-full block rounded-2xl"
			loading="lazy"
		/>
		<div class="absolute left-1/2 bottom-8 transform -translate-x-1/2 w-4/5 flex justify-center">
			<a
				href="https://api.whatsapp.com/send?phone=551920422785&text=Ol%C3%A1!%20Gostaria%20de%20saber%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20servi%C3%A7os%20de%20vistos.%232"
				target="_blank"
				rel="noopener noreferrer"
				class="bg-gradient-to-r from-green-600 to-green-500 text-white font-bold text-lg py-3 px-6 rounded-full shadow transition hover:from-green-700 hover:to-green-600 hover:scale-105 outline-none border-none tracking-wide cursor-pointer"
			>
				Fale Conosco
			</a>
		</div>
	</div>
</div> -->
