---
// Passport Section component
---

<section class="bg-white border-b py-8">
    <div class="container max-w-5xl mx-auto m-8">
        <h2
            class="w-full my-4 text-5xl font-bold leading-tight text-center text-gray-800"
            style="color: #1B375C; letter-spacing: 2px;"
        >
            Método Fácil para Tirar Seu Passaporte
        </h2>
        <div class="w-full mb-4">
            <div
                class="h-1 mx-auto w-64 opacity-25 my-0 py-0 rounded-t"
                style="background-color: #0c59be;"
            >
            </div>
        </div>
        <div class="flex flex-wrap">
            <!-- Image on the left side (reverted) -->
            <div class="w-full sm:w-1/2 p-6">
                <!-- Added rounded border to image -->
                <img
                    src="/assets/images/blog/garanta-melhor-seguro-viagem-comparar.webp"
                    alt="Garanta o melhor seguro viagem - Comparar"
                    class="w-full h-auto rounded-lg"
                />
            </div>
            <!-- Text on the right side (reverted) -->
            <div class="w-full sm:w-1/2 p-6 flex flex-col justify-center text-center">
                <h3
                    class="text-3xl text-gray-800 font-bold leading-none mb-6"
                    style="word-spacing: 5px !important;"
                >
                    Chega de Formulários Complicados!
                </h3>
                <p class="text-gray-600 mb-12 text-center">
                    A Fast Vistos emite seu passaporte de forma rápida e sem burocracia, com
                    assessoria especializada.
                </p>
                <div class="text-center mt-4">
                    <button
                        data-linkcode="%235"
                        class="wpp_button_link mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
                        style="background-color: #0c59be;"
                    >
                        Quero Meu Passaporte!
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
