---
// Videos section component
---

<!-- Custom Styles -->
<style>
    html {
        scroll-behavior: smooth;
    }
    .gradient {
        background: linear-gradient(90deg, #0d3461 0%, #1f4e7a 50%, #2a5e90 100%);
    }
    .fill-current {
        fill: #ff6901;
    }
    .carousel {
        width: 100%;
        overflow-x: scroll;
        padding: 30px;
        position: relative;
        box-sizing: border-box;
        scrollbar-width: none;
    }
    .carousel::-webkit-scrollbar {
        display: none;
    }
    .carousel__container {
        white-space: nowrap;
        margin-bottom: 20px;
        padding-bottom: 10px;
        display: inline-block;
    }
    .categories__title {
        color: rgb(77, 55, 102);
        font-size: 28px;
        position: absolute;
        padding-left: 30px;
    }
    .carousel-item {
        width: 200px;
        height: 117px;
        padding: 6px;
        border-radius: 20px;
        background-color: #ff8700;
        overflow: hidden;
        margin-right: 10px;
        margin-top: 70px;
        display: inline-block;
        cursor: pointer;
        transition: 1000ms all;
        transform-origin: center left;
        position: relative;
    }
    .carousel-item:hover ~ .carousel-item {
        transform: translate3d(100px, 0, 0);
    }
    .carousel__container:hover .carousel-item {
        opacity: 0.3;
    }
    .carousel__container:hover .carousel-item:hover {
        transform: scale(1.5);
        opacity: 1;
    }
    .carousel-item__img {
        width: 200px;
        height: 250px;
        object-fit: cover;
    }
    .carousel-item__details:hover {
        opacity: 1;
    }
    .carousel-item__details span {
        font-size: 0.9rem;
        color: #2ecc71;
    }
    .carousel-item__details .controls {
        padding-top: 180px;
    }
    .carousel-item__details--title,
    .carousel-item__details--subtitle {
        color: #fff;
        margin: 5px 0;
    }
    .typed-text {
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        width: 0;
        animation:
            typing 3s steps(60) 1s forwards,
            blink 0.75s step-end infinite;
    }
    @keyframes typing {
        to {
            width: 100%;
        }
    }
    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }
</style>

<!-- videos section -->
<section class="bg-white border-b" id="casos-de-sucesso">
    <div class="container mx-auto py-10 hidden lg:block">
        <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800" style="color: #1B375C;">
            Casos de Sucesso
        </h2>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto w-64 opacity-25 my-0 py-0 rounded-t" style="background-color: #0c59be;"></div>
        </div>
        <div class="carousel">
            <div class="carousel__container">
                <div class="carousel-item">
                    <div class="relative w-full bg-white rounded-xl shadow-lg overflow-hidden video-item"
                        style="padding-top: 56.25%;">
                        <img class="absolute top-0 left-0 w-full h-full object-cover transition-all hover:brightness-75"
                            src="https://img.youtube.com/vi/p-NECzx53kI/hqdefault.jpg"
                            alt="YouTube Video Thumbnail">
                        <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center"
                            onclick="loadVideo(this, 'p-NECzx53kI')">
                            <svg class="w-20 h-20 text-white drop-shadow-2xl" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8 5v14l11-7z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item"
                    style="padding-top: 56.25%;">
                        <img class="absolute top-0 left-0 w-full h-full object-cover transition-all hover:brightness-75"
                            src="https://img.youtube.com/vi/YxfB-J3K8KU/hqdefault.jpg" alt="YouTube Video Thumbnail">
                        <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center"
                            onclick="loadVideo(this, 'YxfB-J3K8KU')">
                            <svg class="w-20 h-20 text-white drop-shadow-2xl" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8 5v14l11-7z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item"
                    style="padding-top: 56.25%;">
                        <img class="absolute top-0 left-0 w-full h-full object-cover transition-all hover:brightness-75"
                            src="https://img.youtube.com/vi/-m3GVyU8oXI/hqdefault.jpg" alt="YouTube Video Thumbnail">
                        <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center"
                            onclick="loadVideo(this, '-m3GVyU8oXI')">
                            <svg class="w-20 h-20 text-white drop-shadow-2xl" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8 5v14l11-7z"></path>
                            </svg>
                        </div>
                    </div>                    
                </div>
                <div class="carousel-item">
                    <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item"
                    style="padding-top: 56.25%;">
                        <img class="absolute top-0 left-0 w-full h-full object-cover transition-all hover:brightness-75"
                            src="https://img.youtube.com/vi/VtWl9V-E45k/hqdefault.jpg" alt="YouTube Video Thumbnail">
                        <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center"
                            onclick="loadVideo(this, 'VtWl9V-E45k')">
                            <svg class="w-20 h-20 text-white drop-shadow-2xl" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8 5v14l11-7z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item"
                        style="padding-top: 56.25%;">
                        <img class="absolute top-0 left-0 w-full h-full object-cover transition-all hover:brightness-75"
                            src="https://img.youtube.com/vi/QoU1U_Wkob4/hqdefault.jpg" alt="YouTube Video Thumbnail">
                        <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center"
                            onclick="loadVideo(this, 'QoU1U_Wkob4')">
                            <svg class="w-20 h-20 text-white drop-shadow-2xl" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8 5v14l11-7z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item video-item hidden md:block"
                        style="padding-top: 56.25%;">
                        <img class="absolute top-0 left-0 w-full h-full object-cover transition-all hover:brightness-75"
                            src="https://img.youtube.com/vi/yiI4CmfSTF0/hqdefault.jpg" alt="YouTube Video Thumbnail">
                        <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center"
                            onclick="loadVideo(this, 'yiI4CmfSTF0')">
                            <svg class="w-20 h-20 text-white drop-shadow-2xl" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8 5v14l11-7z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item video-item hidden md:block"
                        style="padding-top: 56.25%;">
                        <img class="absolute top-0 left-0 w-full h-full object-cover transition-all hover:brightness-75"
                            src="https://img.youtube.com/vi/G9yUPtTf4s4/hqdefault.jpg" alt="YouTube Video Thumbnail">
                        <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center"
                            onclick="loadVideo(this, 'G9yUPtTf4s4')">
                            <svg class="w-20 h-20 text-white drop-shadow-2xl" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8 5v14l11-7z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item video-item hidden md:block"
                        style="padding-top: 56.25%;">
                        <img class="absolute top-0 left-0 w-full h-full object-cover transition-all hover:brightness-75"
                            src="https://img.youtube.com/vi/ZqQ0YNJa_pQ/hqdefault.jpg" alt="YouTube Video Thumbnail">
                        <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center"
                            onclick="loadVideo(this, 'ZqQ0YNJa_pQ')">
                            <svg class="w-20 h-20 text-white drop-shadow-2xl" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8 5v14l11-7z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item video-item hidden md:block" style="padding-top: 56.25%;">
                        <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center bg-gray-800">
                            <svg width="100%" height="100%" viewBox="0 0 560 315" xmlns="http://www.w3.org/2000/svg">
                                <rect width="100%" height="100%" fill="black" />
                                <text x="50%" y="25%" fill="white" font-size="32" font-weight="bold"
                                    font-family="Arial, sans-serif" text-anchor="middle" alignment-baseline="middle">
                                    Vídeos Novos Em Breve!
                                </text>
                            </svg>
                            <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50">
                                <svg class="w-12 h-12 text-white" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M8 5v14l11-7z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="justify-center items-center">
                <div class="result mt-5 text-gray-800 text-center">
                    <div class="relative w-full text-2xl">
                        <div class="typed-text"></div>
                    </div>
                    <div class="text-yellow-500 text-2xl mt-2">Somos ★★★★★</div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto py-2 md:hidden">
        <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800" style="color: #1B375C;">
            Casos de Sucesso
        </h2>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto w-64 opacity-25 my-0 py-0 rounded-t" style="background-color: #0c59be;"></div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-8 py-16">
            <!-- Video -->
            <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item"
                style="padding-top: 56.25%;">
                <img class="absolute top-0 left-0 w-full h-full object-cover"
                    src="https://img.youtube.com/vi/p-NECzx53kI/hqdefault.jpg" alt="YouTube Video Thumbnail">
                <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center bg-opacity-30"
                    onclick="loadVideo(this, 'p-NECzx53kI')">
                    <svg class="w-16 h-16 text-white" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M8 5v14l11-7z"></path>
                    </svg>
                </div>
            </div>

            <!-- Video -->
            <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item"
                style="padding-top: 56.25%;">
                <img class="absolute top-0 left-0 w-full h-full object-cover"
                    src="https://img.youtube.com/vi/YxfB-J3K8KU/hqdefault.jpg" alt="YouTube Video Thumbnail">
                <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center bg-opacity-30"
                    onclick="loadVideo(this, 'YxfB-J3K8KU')">
                    <svg class="w-16 h-16 text-white" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M8 5v14l11-7z"></path>
                    </svg>
                </div>
            </div>

            <!-- Video -->
            <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item"
                style="padding-top: 56.25%;">
                <img class="absolute top-0 left-0 w-full h-full object-cover"
                    src="https://img.youtube.com/vi/-m3GVyU8oXI/hqdefault.jpg" alt="YouTube Video Thumbnail">
                <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center bg-opacity-30"
                    onclick="loadVideo(this, '-m3GVyU8oXI')">
                    <svg class="w-16 h-16 text-white" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M8 5v14l11-7z"></path>
                    </svg>
                </div>
            </div>

            <!-- Video -->
            <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item"
                style="padding-top: 56.25%;">
                <img class="absolute top-0 left-0 w-full h-full object-cover"
                    src="https://img.youtube.com/vi/VtWl9V-E45k/hqdefault.jpg" alt="YouTube Video Thumbnail">
                <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center bg-opacity-30"
                    onclick="loadVideo(this, 'VtWl9V-E45k')">
                    <svg class="w-16 h-16 text-white" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M8 5v14l11-7z"></path>
                    </svg>
                </div>
            </div>

            <!-- Video -->
            <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item"
                style="padding-top: 56.25%;">
                <img class="absolute top-0 left-0 w-full h-full object-cover"
                    src="https://img.youtube.com/vi/QoU1U_Wkob4/hqdefault.jpg" alt="YouTube Video Thumbnail">
                <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center bg-opacity-30"
                    onclick="loadVideo(this, 'QoU1U_Wkob4')">
                    <svg class="w-16 h-16 text-white" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M8 5v14l11-7z"></path>
                    </svg>
                </div>
            </div>

            <!-- Video -->
            <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item video-item hidden md:block"
                style="padding-top: 56.25%;">
                <img class="absolute top-0 left-0 w-full h-full object-cover"
                    src="https://img.youtube.com/vi/yiI4CmfSTF0/hqdefault.jpg" alt="YouTube Video Thumbnail">
                <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center bg-opacity-30"
                    onclick="loadVideo(this, 'yiI4CmfSTF0')">
                    <svg class="w-16 h-16 text-white" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M8 5v14l11-7z"></path>
                    </svg>
                </div>
            </div>

            <!-- Video -->
            <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item video-item hidden md:block"
                style="padding-top: 56.25%;">
                <img class="absolute top-0 left-0 w-full h-full object-cover"
                    src="https://img.youtube.com/vi/G9yUPtTf4s4/hqdefault.jpg" alt="YouTube Video Thumbnail">
                <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center bg-opacity-30"
                    onclick="loadVideo(this, 'G9yUPtTf4s4')">
                    <svg class="w-16 h-16 text-white" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M8 5v14l11-7z"></path>
                    </svg>
                </div>
            </div>

            <!-- Video -->
            <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item video-item hidden md:block"
                style="padding-top: 56.25%;">
                <img class="absolute top-0 left-0 w-full h-full object-cover"
                    src="https://img.youtube.com/vi/ZqQ0YNJa_pQ/hqdefault.jpg" alt="YouTube Video Thumbnail">
                <div class="absolute top-0 left-0 w-full h-full cursor-pointer flex items-center justify-center bg-opacity-30"
                    onclick="loadVideo(this, 'ZqQ0YNJa_pQ')">
                    <svg class="w-16 h-16 text-white" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M8 5v14l11-7z"></path>
                    </svg>
                </div>
            </div>

            <!-- Video -->
            <div class="relative w-full bg-white rounded-lg shadow-lg overflow-hidden video-item video-item hidden md:block" style="padding-top: 56.25%;">
                <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center bg-gray-800">
                    <svg width="100%" height="100%" viewBox="0 0 560 315" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100%" height="100%" fill="black" />
                        <text x="50%" y="25%" fill="white" font-size="32" font-weight="bold"
                            font-family="Arial, sans-serif" text-anchor="middle" alignment-baseline="middle">
                            Vídeos Novos Em Breve!
                        </text>
                    </svg>
                    <div class="absolute inset-0 flex items-center justify-center bg-opacity-50">
                        <svg class="w-12 h-12 text-white" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M8 5v14l11-7z"></path>
                        </svg>
                    </div>
                </div>
            </div>

        </div>
        <!-- Button to show all videos on mobile -->
        <div class="text-center mt-4 md:hidden">
            <button id="show-more-videos"
                class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                Ver todos
            </button>
            <!-- <button id="show-more-videos" class="px-4 py-2 bg-blue-600 text-white rounded-lg">Ver todos</button> -->
        </div>
        <div>
            <div class="justify-center items-center">
                <div class="result mt-5 text-gray-800 text-center">
                    <div class="relative w-full text-sm">
                        <div class="typed-text"></div>
                    </div>
                    <div class="text-yellow-500 text-2xl mt-2">Somos ★★★★★</div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Typed Text Script -->
<script is:inline>
    (function() {
        function initTypeWriter() {
            const typedTextElements = document.querySelectorAll('.typed-text');
            console.log('Found elements:', typedTextElements.length);
            
            if (typedTextElements.length === 0) {
                console.log('No .typed-text elements found, retrying...');
                setTimeout(initTypeWriter, 100);
                return;
            }

            const text = "Digite 'Fast Vistos' no seu navegador e confira as avaliações!";
            const typingSpeed = 100;
            const restartDelay = 4000;

            function typeText(element, index = 0) {
                if (index < text.length) {
                    element.textContent += text.charAt(index);
                    setTimeout(() => typeText(element, index + 1), typingSpeed);
                } else {
                    setTimeout(() => resetTyping(element), restartDelay);
                }
            }

            function resetTyping(element) {
                element.textContent = "";
                typeText(element);
            }

            typedTextElements.forEach(element => {
                console.log('Starting animation for element:', element);
                typeText(element);
            });
        }

        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', initTypeWriter);
        } else {
            initTypeWriter();
        }
    })();
</script>    

<!-- Video Load Script -->
<script is:inline>
    const showMoreButton = document.getElementById("show-more-videos");
    if (showMoreButton) {
        showMoreButton.addEventListener("click", function () {
            document.querySelectorAll(".video-item.hidden").forEach(video => video.classList.remove("hidden"));
            this.style.display = "none";
        });
    }

    function loadVideo(element, videoId) {
        const iframe = document.createElement("iframe");
        iframe.className = "absolute top-0 left-0 w-full h-full rounded-lg";
        iframe.src = `https://www.youtube.com/embed/${videoId}?autoplay=1&modestbranding=1&color=white`;
        iframe.title = "YouTube video player";
        iframe.frameBorder = "0";
        iframe.allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share";
        iframe.allowFullscreen = true;

        element.parentNode.replaceChild(iframe, element);
    }

    // Make loadVideo available globally
    window.loadVideo = loadVideo;
</script>
