---
// Blog Page Header component
---

<div 
    updatable-section-uuid="168e7e95-27f3-47d1-8476-6551aafbd531" 
    updatable-section-title="Blog Page Header"
    updatable-section-filepath="multi-sites/sites/emprego/components/BlogPageHeader.astro"
    updatable-section-siteid="emprego"
    updatable-section-businessid="41a5c7f95e924d54b120ab9a0e1843c8"
>
    <header class="bg-[#1F2237] py-12 px-4 shadow-sm lg:px-8">
        <div class="mx-auto" style="max-width: 1280px;">
            <div class="flex flex-col md:flex-row justify-between items-start md:items-center">
                
                <div class="flex items-center mb-3 md:mb-0">
                    <a href="https://empregoaqui.com.br">
                        <img
                            src="/assets/images/v2/emprego-aqui-logo.webp"
                            alt="Logo Emprego Aqui"
                            class="h-8 sm:h-12 w-auto"
                            loading="lazy"
                        />
                    </a>
                </div>
                
                <nav>
                    <ul
                        class="flex flex-col md:flex-row gap-y-4 md:gap-x-10 list-disc list-inside text-orange-500"
                    >
                        <li>
                            <a
                                href="https://empregoaqui.com.br"
                                class="text-[15px] font-medium text-white hover:text-orange-600"
                            >
                                Home
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://empregoaqui.com.br/blog/"
                                class="text-[15px] font-medium text-white hover:text-orange-600"
                            >
                                Blog
                            </a>
                        </li>
                        <li>
                            <a
                                onclick="window.open('https://wa.me/5519988055816?text=Ol%C3%A1!%20Quero%20criar%20meu%20curr%C3%ADculo%20com%20a%20IA!', '_blank')"
                                class="text-[15px] font-medium text-white hover:text-orange-600"
                                style="cursor: pointer;"
                            >
                                Contato
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>
