<section class="py-2 bg-gray-100 px-4 flex justify-center">
  <div class="max-w-xl w-full rounded-3xl shadow-lg border border-gray-200 p-8 sm:p-10" style="background-color: #FFFFF7">

    <!-- Logo -->
    <div class="mb-6">
      <img src="assets/images/hero/empregoaqui_two_arrows.avif" alt="Emprego Aqui" class="h-15 object-contain">
    </div>

    <!-- Texto -->
    <p class="text-2xl sm:text-3xl leading-relaxed" 
        style="font-family: 'Bricolage Grotesque', sans-serif; font-size: 22px; color: #232320; font-size: 20px;">
      O Emprego Aqui é uma plataforma de Marketplace de Empregos, onde você publica gratuitamente seu currículo e empresas podem encontrar profissionais como você.
      <br><br>
      Em vez de enviar currículos para diversas empresas e esperar uma resposta,
      <strong>aqui as empresas procuram você.</strong>
    </p>

  </div>
</section>