@import 'tailwindcss';

/* Custom Base Styles */
@layer base {
    * {
        box-sizing: border-box;
    }

    html {
        font-family: 'Source Sans Pro', sans-serif;
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }
}

/* Custom Components */
@layer components {
}
